//---------------------------------------------------------------
//                       Glider Sectors
//---------------------------------------------------------------

{{ data.glid_sectors }}

{{ data.wave_glid_sectors }}